//block colors
$white              : #ffffff;
$grey-lighter       : #f6f6f6;
$grey-light         : #d8d8d8;
$grey               : #b5b5b5;
$grey-hover         : #d8d8d8;
$grey-dark          : #5d5d5d;
$grey-darker        : #343434;
$grey-darkest       : #2a2a2a;
$black              : #000000;
$border-color       : #979797;

//text colors
$text-color         : #000000;
$text-muted         : #9a9a9a;