@include font-face('FiraSans', '/assets/fonts/FiraSans-Light', normal, null, woff woff2);

body {
  font-family: 'FiraSans';
  font-size: $font-size-base;
  line-height: $line_height_base;
  color: $text-color;
  font-weight: $font-weight-normal;
  background: $white;
}

* {
  transition: background $transition-base, opacity $transition-base, transform $transition-base;
}

a {
  color: $white;
  text-decoration: none;

  &:focus {
    color: inherit;
  }

  &:active, &:hover, &.active {
    color: $grey;
  }
  &:visited {
    color: $white;
  }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'FiraSans';
  font-weight: 700;
  text-transform: uppercase;
  transition: font-size .3s
}
h1 {
  font-size: $font_size_h1;
  margin: 0 0 0.5em 0;
  @include xs {
    font-size: 1.8em;
    color: red;
  }
}
h2 {
  font-size: $font_size_h2;
  line-height: $line_height_h2;
  margin: 0 0 .5em 0;
}
h3 {
  font-size: $font_size_h3;
  margin: 0 0 .5em 0;
}
h4 {
  font-size: $font_size_h4;
  margin: 0 0 1em 0;
}
p {
  margin: 0 0 1em 0;
}

.app_wrapper {
  margin: 0 auto;
  position: relative;
}