html {
  font-size: 62.5%;

  @include lg {
    font-size: 45%;
  }
}

body {
  background-color: $white;
  font-size: 14px;
}

header {
  .logo {
    width: 145px;
    height: auto;

    &.logo-alone {
      margin: 33px 0;
    }
  }

  &.fixedHeader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
}

.grayBackground {
  background-color: $grey;
  min-height: 100vh;
}