.header {
  &__navbar {
    // padding: 15px 0;
    background: $black;
    border-bottom: .5px solid $border-color;
    z-index: 10;
    width: 100%;

    &.toggle-show {
      .header__items {
        @include xs; @include sm  {
          @include flex-container(column, flex-end, center);
        }
      }
    }
  }

  &__items {
    @include flex-container(row, center, center);

    @include xs; @include sm {
      display: none;
    }
  }

  &__item {
    padding: 15px 30px;

    &--toggle {
      display: none;
      cursor: pointer;

      @include xs; @include sm  {
        @include flex-container(row, flex-end, center);
      }
    }
  }

  &__logo {
    @include flex-container(row, center, center);
    background: $black;
    margin-top: 45px;
    height: 255px;
  }

  &--fixed {
    position: fixed;
    top: 0;
  }



}

.logo {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background: $grey-light;
}

.logo-small {
  width: 83px;
  height: 83px;
  border-radius: 50%;
  background: $grey-light;
}