.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-size: $font-size-small;
  text-align: center;
  color: #fff;
  padding: 0 20px;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  outline: 0;
  font-weight: normal;
  transition: background 0.2s;
  box-sizing: border-box;

  &:not(:disabled) {
    &:hover {
      background-color: $grey-hover;
      color: #fff;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &.minw {
    min-width: 180px;
  }

  &.sm {
    height: 40px;
    font-size: 17px;
  }

  &.full {
    width: 100%;
  }

  &.bordered {
    background: #fff;
    border: 1px solid $black;
    color: $black;

    &:hover {
      border-color: darken($black, 5%);
      color: darken($black, 5%);
    }
  }
}

.mobile-menu {
  background-color: #171717;
  border: 0;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;

  span {
    display: block;
    height: 4px;
    width: 23px;
    background-color: #ffffff;
    border-radius: 2px;
    position: absolute;
    left: 6px;
    transition: all 300ms ease-in-out;


    .toggle-show & {
      &:first-child {
        transform: rotate(45deg);
        position: absolute;
        top: 16px;
      }
      &:last-child {
        transform: rotate(-45deg);
        position: absolute;
        top: 16px;
      }

      &:nth-child(2) {
        opacity: 0;
      }
    }
  }

  span:first-child {
    top: 9px;
  }

  span:nth-child(2) {
    top: 15px;
  }

  span:last-child {
    top: 21px;
  }

  &:hover {
    background-color: $grey-darkest;
  }
}
